<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Otype:</strong>
    <%= order.otype.humanize %>
  </p>

</div>
